.landing-page {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  min-width: 1920px;
  height: 1417px;
  position: relative;
}

.landing-page .rectangle {
  left: 960px;
  width: 960px;
  height: 741px;
  background: linear-gradient(
    180deg,
    rgba(221, 203, 179, 1) 46%,
    rgba(242, 232, 213, 1) 100%
  );
  position: absolute;
  top: 0;
}

.landing-page .img {
  left: 0;
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 0;
}

.landing-page .text-wrapper {
  position: absolute;
  top: 239px;
  left: 261px;
  font-family: "Merriweather-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #252b37;
  font-size: 96px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .d-sua-biblioteca-o {
  position: absolute;
  top: 360px;
  left: 261px;
  font-family: "PT Serif-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #252b37;
  font-size: 40px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .rectangle-2 {
  left: 145px;
  width: 95px;
  height: 172px;
  position: absolute;
  top: 0;
}

.landing-page .rectangle-3 {
  left: 145px;
  width: 95px;
  height: 43px;
  position: absolute;
  top: 0;
}

.landing-page .div {
  left: 960px;
  width: 960px;
  height: 741px;
  background-color: #252b37;
  position: absolute;
  top: 0;
}

.landing-page .image {
  position: absolute;
  top: 259px;
  left: 1360px;
  width: 168px;
  height: 245px;
  object-fit: cover;
}

.landing-page .image-2 {
  position: absolute;
  top: 211px;
  left: 1546px;
  width: 163px;
  height: 245px;
  object-fit: cover;
}

.landing-page .image-3 {
  position: absolute;
  top: 260px;
  left: 988px;
  width: 168px;
  height: 244px;
  object-fit: cover;
}

.landing-page .image-4 {
  position: absolute;
  top: 0;
  left: 1359px;
  width: 168px;
  height: 235px;
}

.landing-page .image-5 {
  position: absolute;
  top: 481px;
  left: 1541px;
  width: 168px;
  height: 252px;
  object-fit: cover;
}

.landing-page .image-6 {
  position: absolute;
  top: 433px;
  left: 1173px;
  width: 168px;
  height: 252px;
  object-fit: cover;
}

.landing-page .image-7 {
  position: absolute;
  top: 529px;
  left: 988px;
  width: 168px;
  height: 252px;
  object-fit: cover;
}

.landing-page .image-8 {
  position: absolute;
  top: 165px;
  left: 1174px;
  width: 167px;
  height: 245px;
  object-fit: cover;
}

.landing-page .image-9 {
  position: absolute;
  top: 52px;
  left: 1729px;
  width: 163px;
  height: 252px;
  object-fit: cover;
}

.landing-page .image-10 {
  position: absolute;
  top: 327px;
  left: 1728px;
  width: 163px;
  height: 245px;
  object-fit: cover;
}

.landing-page .image-11 {
  position: absolute;
  top: 0;
  left: 988px;
  width: 168px;
  height: 235px;
}

.landing-page .image-12 {
  position: absolute;
  top: 0;
  left: 1174px;
  width: 168px;
  height: 141px;
}

.landing-page .image-13 {
  position: absolute;
  top: 0;
  left: 1546px;
  width: 168px;
  height: 188px;
}

.landing-page .image-14 {
  position: absolute;
  top: 598px;
  left: 1729px;
  width: 163px;
  height: 250px;
  object-fit: cover;
}

.landing-page .image-15 {
  position: absolute;
  top: 527px;
  left: 1359px;
  width: 168px;
  height: 252px;
  object-fit: cover;
}

.landing-page .image-16 {
  position: absolute;
  top: 708px;
  left: 1173px;
  width: 168px;
  height: 252px;
  object-fit: cover;
}

.landing-page .image-17 {
  position: absolute;
  top: 0;
  left: 1733px;
  width: 168px;
  height: 26px;
}

.landing-page .group {
  position: absolute;
  top: 497px;
  left: 261px;
  width: 212px;
  height: 60px;
}

.landing-page .rectangle-4 {
  left: 0;
  width: 210px;
  height: 60px;
  background-color: #252b37;
  border-radius: 4px;
  box-shadow: 0px 4px 4px #00000040;
  position: absolute;
  top: 0;
}

.landing-page .text-wrapper-2 {
  position: absolute;
  top: 15px;
  left: 47px;
  font-family: "Merriweather-Bold", Helvetica;
  font-weight: 700;
  color: #ddcbb3;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-3 {
  position: absolute;
  top: 512px;
  left: 502px;
  font-family: "Merriweather-Bold", Helvetica;
  font-weight: 700;
  color: #252b37;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}

.landing-page .rectangle-5 {
  position: absolute;
  top: 741px;
  left: 0;
  width: 1920px;
  height: 255px;
}

.landing-page .ajudamos-voc-a {
  position: absolute;
  top: 773px;
  left: 652px;
  width: 615px;
  font-family: "PT Serif-Regular", Helvetica;
  font-weight: 400;
  color: #252b37;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .span {
  font-family: "PT Serif-Italic", Helvetica;
  font-style: italic;
}

.landing-page .text-wrapper-4 {
  font-family: "PT Serif-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
}

.landing-page .rectangle-6 {
  position: absolute;
  top: 996px;
  left: 0;
  width: 1920px;
  height: 467px;
  background-color: #252b37;
}

.landing-page .group-2 {
  position: absolute;
  width: 3.42%;
  height: 8.54%;
  top: 74.74%;
  left: 15.08%;
  aspect-ratio: 0.54;
}

.landing-page .group-3 {
  position: absolute;
  width: 3.42%;
  height: 4.60%;
  top: 6.21%;
  left: 8.33%;
  aspect-ratio: 1.01;
}

.landing-page .text-wrapper-5 {
  position: absolute;
  top: 1154px;
  left: 288px;
  font-family: "PT Serif-Bold", Helvetica;
  font-weight: 700;
  color: #ddcbb3;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-6 {
  position: absolute;
  top: 1154px;
  left: 604px;
  font-family: "PT Serif-Bold", Helvetica;
  font-weight: 700;
  color: #ddcbb3;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-7 {
  position: absolute;
  top: 1154px;
  left: 869px;
  font-family: "PT Serif-Bold", Helvetica;
  font-weight: 700;
  color: #ddcbb3;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-8 {
  position: absolute;
  top: 1154px;
  left: 1418px;
  font-family: "PT Serif-Bold", Helvetica;
  font-weight: 700;
  color: #ddcbb3;
  font-size: 28px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-9 {
  position: absolute;
  top: 1210px;
  left: 288px;
  font-family: "PT Serif-Regular", Helvetica;
  font-weight: 400;
  color: #ddcbb3;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-10 {
  position: absolute;
  top: 1210px;
  left: 604px;
  font-family: "PT Serif-Regular", Helvetica;
  font-weight: 400;
  color: #ddcbb3;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-11 {
  position: absolute;
  top: 1245px;
  left: 604px;
  font-family: "PT Serif-Regular", Helvetica;
  font-weight: 400;
  color: #ddcbb3;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-12 {
  position: absolute;
  top: 1280px;
  left: 604px;
  font-family: "PT Serif-Regular", Helvetica;
  font-weight: 400;
  color: #ddcbb3;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-13 {
  position: absolute;
  top: 1245px;
  left: 288px;
  font-family: "PT Serif-Regular", Helvetica;
  font-weight: 400;
  color: #ddcbb3;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-14 {
  position: absolute;
  top: 1280px;
  left: 288px;
  font-family: "PT Serif-Regular", Helvetica;
  font-weight: 400;
  color: #ddcbb3;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-15 {
  position: absolute;
  top: 1315px;
  left: 288px;
  font-family: "PT Serif-Regular", Helvetica;
  font-weight: 400;
  color: #ddcbb3;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .text-wrapper-16 {
  position: absolute;
  top: 1350px;
  left: 288px;
  font-family: "PT Serif-Regular", Helvetica;
  font-weight: 400;
  color: #ddcbb3;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .linked-scriba {
  position: absolute;
  top: calc(50.00% + 364px);
  left: calc(50.00% - 591px);
  font-family: "Merriweather-BoldItalic", Helvetica;
  font-weight: 700;
  font-style: italic;
  color: #ddcbb3;
  font-size: 40px;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
}

.landing-page .x {
  position: absolute;
  top: 1218px;
  left: 938px;
  width: 45px;
  height: 45px;
}

.landing-page .instagram {
  position: absolute;
  top: 1218px;
  left: 869px;
  width: 45px;
  height: 45px;
}

.landing-page .tik-tok {
  position: absolute;
  top: 1218px;
  left: 1076px;
  width: 45px;
  height: 45px;
}

.landing-page .facebook {
  position: absolute;
  top: 1218px;
  left: 1007px;
  width: 45px;
  height: 45px;
}

.landing-page .you-tube {
  position: absolute;
  top: 1218px;
  left: 1143px;
  width: 45px;
  height: 45px;
}

.landing-page .linked-in {
  position: absolute;
  top: 1218px;
  left: 1211px;
  width: 45px;
  height: 45px;
}

.landing-page .disponivel-google {
  position: absolute;
  top: 1283px;
  left: 1396px;
  width: 239px;
  height: 92px;
  display: flex;
}

.landing-page .rectangle-7 {
  flex: 1;
  width: 228px;
  object-fit: cover;
}

.landing-page .overlap-group {
  position: absolute;
  height: 92px;
  top: 1205px;
  left: 1400px;
  display: flex;
  align-items: flex-start;
  min-width: 240px;
  background-image: url(./img/g-10.png);
  background-size: 100% 100%;
}

.landing-page .g {
  width: 240px;
  height: 92px;
}
